# Node.js dependencies
node_modules/

# Build outputs
dist/
build/

# Environment files
.env
.env.local
.env.*.local
frontend/.env

# Common folder
common/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Configuration files
frontend/src/config.ts
